In [1]:
%matplotlib inline 
import numpy as np
import pandas as pd

import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

from utils import rstr

In [2]:
df =pd.read_csv('data/reviews_metadata.csv',parse_dates=['date'])
df_listing = pd.read_csv('data/listings.csv')

In [3]:
df.date.max()

Timestamp('2017-05-08 00:00:00')

In [4]:
df.head()

   listing_id       date
0     7878281 2015-09-12
1     7878281 2015-10-09
2     7878281 2015-11-15
3     7878281 2016-01-02
4     7878281 2016-04-28

In [5]:
last_scraped=pd.to_datetime(df_listing.last_scraped).max().date()
last_scraped

datetime.date(2017, 5, 8)

In [6]:
df['from_scraping_date']=(last_scraped-df.date).dt.days

In [7]:
bins = [0,7,14,20,30,40,50,60,70,90,100,2000]
group_names = ["reviewed_more_than_"+str(i)+"_ago" for i in bins[:-1]]

In [8]:
categories = pd.cut(df['from_scraping_date'], bins,labels=group_names)
df['review_age']=categories

In [9]:
df.from_scraping_date.head()

0    604
1    577
2    540
3    492
4    375
Name: from_scraping_date, dtype: int64

In [10]:
df_group_review_age = df.groupby(['listing_id','review_age'])['date'].count()
df_group_review_age= df_group_review_age.unstack('review_age').fillna(0)

In [11]:
df_group_review_age.to_csv('data/reviews_frequency.csv')

In [12]:
df_test=pd.read_csv('data/reviews_frequency.csv')

In [13]:
df_listing = df_listing[(df_listing.reviews_per_month>0)&(df_listing.availability_30>0)]

In [14]:
df_test = pd.merge(df_listing[['id','availability_30']],df_test,left_on='id',right_on='listing_id')

In [15]:
df_test.drop(['id','listing_id'],axis=1,inplace=True)

In [19]:
df_test.corr()[['availability_30']].sort_values(by='availability_30',ascending=True)

                            availability_30
reviewed_more_than_40_ago         -0.199318
reviewed_more_than_30_ago         -0.193696
reviewed_more_than_20_ago         -0.187662
reviewed_more_than_60_ago         -0.177572
reviewed_more_than_14_ago         -0.168346
reviewed_more_than_70_ago         -0.164634
reviewed_more_than_90_ago         -0.163673
reviewed_more_than_100_ago        -0.142606
reviewed_more_than_50_ago         -0.138040
reviewed_more_than_7_ago          -0.116951
reviewed_more_than_0_ago          -0.082790
availability_30                    1.000000

In [17]:
df_group_review_age.index

Int64Index([    1971,     2015,     3176,     3309,     9991,    11203,
               16644,    17409,    17904,    20858,
            ...
            18452548, 18453841, 18458311, 18461865, 18462323, 18472802,
            18512476, 18523824, 18546940, 18547011],
           dtype='int64', name=u'listing_id', length=16174)

In [18]:
df[df.listing_id==2015]

        listing_id       date  from_scraping_date                  review_age
142023        2015 2016-04-11                 392  reviewed_more_than_100_ago
142024        2015 2016-04-15                 388  reviewed_more_than_100_ago
142025        2015 2016-04-26                 377  reviewed_more_than_100_ago
142026        2015 2016-05-10                 363  reviewed_more_than_100_ago
142027        2015 2016-05-14                 359  reviewed_more_than_100_ago
142028        2015 2016-05-16                 357  reviewed_more_than_100_ago
142029        2015 2016-05-28                 345  reviewed_more_than_100_ago
142030        2015 2016-05-31                 342  reviewed_more_than_100_ago
142031        2015 2016-06-03                 339  reviewed_more_than_100_ago
142032        2015 2016-06-27                 315  reviewed_more_than_100_ago
142033        2015 2016-07-13                 299  reviewed_more_than_100_ago
142034        2015 2016-07-17                 295  reviewed_more_than_100_ago
142035        2015 2016-07-26                 286  reviewed_more_than_100_ago
142036        2015 2016-08-01                 280  reviewed_more_than_100_ago
142037        2015 2016-08-05                 276  reviewed_more_than_100_ago
142038        2015 2016-08-08                 273  reviewed_more_than_100_ago
142039        2015 2016-08-15                 266  reviewed_more_than_100_ago
142040        2015 2016-09-01                 249  reviewed_more_than_100_ago
142041        2015 2016-09-03                 247  reviewed_more_than_100_ago
142042        2015 2016-09-08                 242  reviewed_more_than_100_ago
142043        2015 2016-09-16                 234  reviewed_more_than_100_ago
142044        2015 2016-09-18                 232  reviewed_more_than_100_ago
142045        2015 2016-09-22                 228  reviewed_more_than_100_ago
142046        2015 2016-09-28                 222  reviewed_more_than_100_ago
142047        2015 2016-10-03                 217  reviewed_more_than_100_ago
142048        2015 2016-10-09                 211  reviewed_more_than_100_ago
142049        2015 2016-10-17                 203  reviewed_more_than_100_ago
142050        2015 2016-10-19                 201  reviewed_more_than_100_ago
142051        2015 2016-10-22                 198  reviewed_more_than_100_ago
142052        2015 2016-11-01                 188  reviewed_more_than_100_ago
...            ...        ...                 ...                         ...
142059        2015 2016-11-23                 166  reviewed_more_than_100_ago
142060        2015 2016-12-05                 154  reviewed_more_than_100_ago
142061        2015 2016-12-09                 150  reviewed_more_than_100_ago
142062        2015 2016-12-16                 143  reviewed_more_than_100_ago
142063        2015 2016-12-17                 142  reviewed_more_than_100_ago
142064        2015 2016-12-25                 134  reviewed_more_than_100_ago
142065        2015 2016-12-29                 130  reviewed_more_than_100_ago
142066        2015 2017-01-02                 126  reviewed_more_than_100_ago
142067        2015 2017-01-04                 124  reviewed_more_than_100_ago
142068        2015 2017-01-09                 119  reviewed_more_than_100_ago
142069        2015 2017-01-23                 105  reviewed_more_than_100_ago
142070        2015 2017-01-29                  99   reviewed_more_than_90_ago
142071        2015 2017-01-31                  97   reviewed_more_than_90_ago
142072        2015 2017-02-04                  93   reviewed_more_than_90_ago
142073        2015 2017-02-12                  85   reviewed_more_than_70_ago
142074        2015 2017-02-14                  83   reviewed_more_than_70_ago
142075        2015 2017-02-16                  81   reviewed_more_than_70_ago
142076        2015 2017-02-21                  76   reviewed_more_than_70_ago
142077        2015 2017-03-08                  61   reviewed_more_than_60_ago
142078        2015 2017-03-12                  57   reviewed_more_than_50_ago
142079        2015 2017-03-17                  52   reviewed_more_than_50_ago
142080        2015 2017-03-24                  45   reviewed_more_than_40_ago
142081        2015 2017-03-28                  41   reviewed_more_than_40_ago
142082        2015 2017-04-02                  36   reviewed_more_than_30_ago
142083        2015 2017-04-04                  34   reviewed_more_than_30_ago
142084        2015 2017-04-08                  30   reviewed_more_than_20_ago
142085        2015 2017-04-15                  23   reviewed_more_than_20_ago
142086        2015 2017-04-18                  20   reviewed_more_than_14_ago
142087        2015 2017-04-26                  12    reviewed_more_than_7_ago
142088        2015 2017-05-02                   6    reviewed_more_than_0_ago

[66 rows x 4 columns]