# AirBnB : data processing : Reviews frequency.

In [1]:
%matplotlib inline 
import numpy as np
import pandas as pd

import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

from utils import rstr

In [2]:
df =pd.read_csv('data/reviews_metadata.csv',parse_dates=['date'])
df_listing = pd.read_csv('data/listings.csv')

In [3]:
df.date.max()

Timestamp('2017-05-08 00:00:00')

In [4]:
df.head()

   listing_id       date
0     7878281 2015-09-12
1     7878281 2015-10-09
2     7878281 2015-11-15
3     7878281 2016-01-02
4     7878281 2016-04-28

In [5]:
last_scraped=pd.to_datetime(df_listing.last_scraped).max().date()
last_scraped

datetime.date(2017, 5, 8)

In [6]:
df['from_scraping_date']=(last_scraped-df.date).dt.days

In [7]:
bins = [0,7,14,20,30,40,50,60,70,90,100,2000]
group_names = ["reviewed_more_than_"+str(i)+"_ago" for i in bins[:-1]]

In [8]:
categories = pd.cut(df['from_scraping_date'], bins,labels=group_names)
df['review_age']=categories

In [9]:
df.from_scraping_date.head()

0    604
1    577
2    540
3    492
4    375
Name: from_scraping_date, dtype: int64

In [10]:
df_group_review_age = df.groupby(['listing_id','review_age'])['date'].count()
df_group_review_age= df_group_review_age.unstack('review_age').fillna(0)

In [11]:
df_group_review_age.to_csv('data/reviews_frequency.csv')